@charset "UTF-8";

/* ================================ */
/* HEADER SETTINGS */
/* ================================ */
header {
  font-family: "Lucida Grande";
}



/* ================================ */
/* NAVIGATION BAR SETTINGS */
/* ================================ */
ul {
  background-color: #2ecc71;
  padding-top: 0.25cm;
  padding-bottom: 0.25cm;
  font-family: "Lucida Grande";
}

li {
  display:inline-block;
  float:none;
  font-family: "Lucida Grande";
}

li a {
  display:block;
  padding: 0.25cm;
  background-color: #f4f610;
  border-color: #e7d413;
  font-family: "Lucida Grande";
}

/* ================================ */
/* HEADINGS SETTINGS */
/* ================================ */
h1 {
  font-family: "Lucida Grande";
  font-style: italic;
}

h2 {
  margin-left: 2cm;
  margin-right: 3cm;
  border-bottom-style: inset;
  border-color: #f6e478
}

h3 {
  margin-left: 3cm;
}

/* ================================ */
/* TEXT SETTINGS */
/* ================================ */
p {
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  margin-right: 3cm;
  margin-left: 3cm;
}

p#NanaDescription {
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  margin-right: 1cm;
  margin-left: 3cm;
}

p#all_desc {
  margin-left: 5cm;
}

blockquote {
  font-family: "Lucida Grande";
  padding: 0.25cm;
  background-color: #fceca4;
  margin-left: 3cm;
  margin-right: 3cm;
  border-radius: 10px;
}

article {
  font-family: "Lucida Grande";
}


/* ================================ */
/* IMAGE SETTINGS */
/* ================================ */
img {
  max-width:30%;
  height:auto;
  margin-left: 3cm;
}

img#Demo {
  margin-left: 0.5cm;
}

/* ================================ */
/* POSITIONING SETTINGS */
/* ================================ */
#wrap {
  width: 36cm;
  height: 10cm;
}
.left {
  height: 10cm;
  width: 20cm;
  float: left;
}
.right{
  height: 10cm;
  width: 14cm;
  float: right;
}
article#NanaScanner {
  margin-right: 1cm;
}


/* ================================ */
/* BUTTON SETTINGS */
/* ================================ */
button {
  display: block;
  padding: 15px 32px;
  background-color: #FEF53A;
  font-family: "Lucida Grande";
  font-size: 14pt;
  margin-left: 15cm;
  border-color: #e7d413;
  border-radius: 10px;
}
/*
The buttons' corners were rounded and colors were applied.
*/


/* ================================ */
/* OVERALL PAGE */
/* ================================ */


/* ================================ */
/* FOOTER */
/* ================================ */
footer {
  font-family: "Lucida Grande"
}




/* Last edit: 7/9/2019 11:33 PM */
/* Last validated error free: 7/9/2019 11:33 PM */

/* Cite code */
